/* Variables */
:root {
    --blue: #597ef7;
    --orange: #ff7a45;
}

div {
    font-family: "Roboto", serif;
    text-align: center;
}

h1 {
    font-size: xxx-large;
    margin-bottom: 0px;
    margin-top: 30px;
}

p {
    font-size: xx-small;
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    color: var(--blue);
    opacity: 100%;
    transition: all 0.5s ease;
}

a:hover {
    opacity: 35%;
    transition: all 0.5s ease;
}

a:visited {
    color: var(--orange);
}

mark.blue {
    background: none;
    color: var(--blue);
}

mark.orange {
    background: none;
    color: var(--orange);
}
